<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:int="http://www.springframework.org/schema/integration"
  xmlns:int-sns="http://www.springframework.org/schema/integration/sns"
  xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:int-sqs="http://www.springframework.org/schema/integration/sqs"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-2.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/integration/stream http://www.springframework.org/schema/integration/stream/spring-integration-stream-2.1.xsd
		http://www.springframework.org/schema/integration/sns http://www.springframework.org/schema/integration/sns/spring-integration-sns-2.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/integration/sqs http://www.springframework.org/schema/integration/sqs/spring-integration-sqs.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

  <context:component-scan base-package="com.threepillar.labs.snssample.controller" />
  <mvc:annotation-driven />

  <bean class="com.threepillar.labs.snssample.websocket.WebSocketListener"></bean>

  <bean id="awsCredentialsProvider" class="com.threepillar.labs.si.aws.SimpleAWSCredentialsProvider">
    <property name="accessKey" value="AKIAIVX775TRPPSZTEMQ" />
    <property name="secretKey" value="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" />
  </bean>

  <!-- SNS Inbound -->
  <int-sns:inbound-channel-adapter id="snsInboundAdapter"
      topic-name="snsInboundTopic"
      channel="logSnsInbound" 
      http-endpoint-path="/aws/sns/inbound.do"
      aws-credentials-provider="awsCredentialsProvider" 
      sns-executor-proxy="snsInboundAdapterProxy">
      
    <int-sns:subscriptions>
      <int-sns:subscription protocol="http" endpoint="http://203.122.33.232:80/si-aws-sns-sample"/>
    </int-sns:subscriptions>
  </int-sns:inbound-channel-adapter>
  
  <int:channel id="logSnsInbound" />

  <bean id="snsInboundMessageHandler" 
      class="com.threepillar.labs.snssample.websocket.SnsInboundMessageHandler" />
  
  <!-- SNS channel  -->
  <int-sns:publish-subscribe-channel id="snsChannel" 
      topic-name="snsChannelTopic"
      aws-credentials-provider="awsCredentialsProvider"
      http-endpoint-path="/aws/sns/channel.do">
  
    <int-sns:subscriptions>
      <int-sns:subscription protocol="http" endpoint="http://203.122.33.232:80/si-aws-sns-sample"/>
    </int-sns:subscriptions>    
  </int-sns:publish-subscribe-channel>

  <bean id="snsChannelSubscriberA" 
      class="com.threepillar.labs.snssample.websocket.SnsChannelMessageHandler" />
  <bean id="snsChannelSubscriberB" 
      class="com.threepillar.labs.snssample.websocket.SnsChannelMessageHandler" />

  <!-- <int-stream:stdout-channel-adapter id="stdoutChannel1" channel="snsChannel" append-newline="true"/>
  <int-stream:stdout-channel-adapter id="stdoutChannel2" channel="snsChannel" append-newline="true"/> -->

  <!-- SNS channel -> SNS outbound -> SQS -> SQS inbound -> stdout  -->
  <!-- <int-sns:outbound-channel-adapter id="snsOutbound" 
      topic-name="snsOutboundTopic" 
      aws-credentials-provider="awsCredentialsProvider"
      channel="snsChannel">
      
    <int-sns:subscriptions>
      <int-sns:subscription protocol="sqs" endpoint="sqsInbound"/>
    </int-sns:subscriptions>  
  </int-sns:outbound-channel-adapter>

  <int-sqs:inbound-channel-adapter id="sqsInbound" 
      queue-name="sqsInboundQueue" 
      aws-credentials-provider="awsCredentialsProvider"
      channel="logSqsInbound" />
      
  <int:channel id="logSqsInbound" />
  <int-stream:stdout-channel-adapter id="stdoutChannel3" channel="logSqsInbound" append-newline="true"/> -->
  

</beans>
